body{
    background-color:cornsilk;
}
h1{
    color:chocolate;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    
}
h2{
    color:chocolate;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}
p{
    color:cornflowerblue;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
q{
    font-size: 50px;
    font-weight:  bolder;
    text-align: center;
    color: cornflowerblue;
} 
img{
    float: right;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
}